/* style.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent global scrollbar */
}

.container-fluid {
    height: 100vh;
}

#map {
    /* Styles will be applied inline in the HTML */
}

.sidebar-header h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color:#002D62;
    font-weight: bold;
}

.sidebar-content > div {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.sidebar-content > div:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-title-container { /* Container du fond bleu */
    background-color: #002D62;
    display: flex; /* Active le modèle de boîte flexible */
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    padding-top: 25px; /* Ajoute du rembourrage en haut */
    padding-bottom: 15px; /* Ajoute du rembourrage en bas */
    margin-top: 0;
    margin-bottom: 0;
}

.main-title-container h1 { /* Le titre à l'intérieur */
    font-size: 1.5rem;
    color: white;

    margin: 0; /* Supprime les marges par défaut du h1 pour un centrage précis */
    padding: 0; /* Supprime les rembourrages par défaut du h1 */
}






  .app-menu {
    background: #002D62;
    height: 100%;
    position: absolute;
    left: 0;
    width: 70px;
    top: 68px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    z-index: 1000;
  }
  
  .app-icon {
    background-color: #F04F50;
    border-color: rgba(255,255,255,0.2);
    border-width: 5px;

 
